doctype html
html
	head
		meta(property="og:title" content=title)
		meta(property="og:description" content=description)
		meta(property="og:type" content="website")
		meta(property="theme-color" content="#9d6fe8")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content=title)
		meta(name="twitter:description" content=description)
		link(rel="stylesheet" href="/style.css")
		title=title
	body
		a(href="/api") JSON API

